extends default

block content

    #clouds
        .cloud.x1
        .cloud.x2
        .cloud.x3
        .cloud.x4
        .cloud.x5


    button(data-bs-toggle='modal', data-bs-target='#exampleModal', onclick="addPlant()") Create new plant

    // Modal
    #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#exampleModalLabel.modal-title.fs-5 Modal title
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    form
                        .mb-3
                            label.form-label(for='plantId') Plant Name
                            input#plantId.form-control(type='text', aria-describedby='plantName', placeholder='Plant Name')
                        .mb-3
                            label.form-label(for='plantInput') Plant ID
                            input#plantInput.form-control(type='text', placeholder='PlantID')
                        .input-group.mb-3
                            input#inputGroupFile01.form-control(type='file')
                        button.btn.btn-primary(type='submit') Submit Plant Photo

                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button.btn.btn-primary(type='button', onclick="addPlant()") Save changes


    h4#total

    #noneReturned

    ul#demo.p-4

    script.
        async function off() {
            document.getElementById('overlay').style.display = "none";
        }

    #overlay(style="display:none;")
        .window(style='margin: 32px; width: 30vw;')
            .title-bar
                .title-bar-text
                    | Error Code 429
                .title-bar-controls
                    button(aria-label='Minimize')
                    button(aria-label='Maximize')
                    button(aria-label='Close')
            .window-body
                img(src='/static/images/confused.jpg')
                h3 Not enough money!
                section.field-row(style='justify-content: flex-end')
                    button(onclick="off()") OK
                    button Cancel

    //h3 Plants in Database
    .row.row-cols-2.row-cols-md-4.g-4
        each plant of plants
            .d-flex.justify-content-evenly
                //.window.plantCards(style='width: 350px')
                //    .title-bar
                //        .title-bar-text= plant[1]
                //        .title-bar-controls
                //            button(aria-label='Minimize')
                //            // make bigger on click?
                //            button(aria-label='Maximize')
                //            button(aria-label='Close')
                //    .window-body
                //        img#plant(src='/static/images/' + plant[1] + '.jpg', value=`${plant[0]}` alt='No picture yet!')
                //        hr
                //        .information#info(blockID=`${plant[0]}` style='display: none;')
                //            #commonName(commonName=`${plant[0]}`)
                //                p.name Common Name
                //            #scientific(scientific=`${plant[0]}`)
                //                p.name Scientific Name
                //            #sunlight(sunlight=`${plant[0]}`)
                //                p.name Sunlight
                //            #watering(watering=`${plant[0]}`)
                //                p.name Watering
                //            #propagation(propagation=`${plant[0]}`)
                //                p.name Propagation
                //        //
                //        section.field-row(style='justify-content: flex-end')
                //            button(onclick=`get_info(${plant[0]})`) More Info
                //            button(onclick= `removePlant(${plant[0]})`) Delete Plant
                        //.overlay2.top-0
                        //    | whaaaaaat
                .window.plantCards(style='width: 350px')
                    .title-bar
                        .title-bar-text= plant[1]
                        .title-bar-controls
                            button(aria-label='Minimize')
                            // make bigger on click?
                            button(aria-label='Maximize')
                            button(aria-label='Close')
                    .window-body
                        .flip-card
                            .flip-card-inner
                                .flip-card-front
                                    img#plant(src='/static/images/' + plant[1] + '.jpg', value=`${plant[0]}` alt='No picture yet!')
                                .flip-card-back
                                    .information#info(blockID=`${plant[0]}` style='display: none;')
                                        #commonName(commonName=`${plant[0]}`)
                                            p.name Common Name
                                        #scientific(scientific=`${plant[0]}`)
                                            p.name Scientific Name
                                        #sunlight(sunlight=`${plant[0]}`)
                                            p.name Sunlight
                                        #watering(watering=`${plant[0]}`)
                                            p.name Watering
                                        #propagation(propagation=`${plant[0]}`)
                                            p.name Propagation
                        hr

                        section.field-row(style='justify-content: flex-end')
                            button(onclick=`get_info(${plant[0]})`) More Info
                            button(onclick= `removePlant(${plant[0]})`) Delete Plant






