include default

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
    link(rel='stylesheet' type="text/css" href='/static/css/nursery.css')


    h1.nursery The Nursery
    button.btn.btn-outline-secondary(data-bs-toggle='modal', data-bs-target='#exampleModal', onclick="addPlant()") Add Baby

    #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#exampleModalLabel.modal-title.fs-5 Modal title
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    form#form1
                        .mb-3
                            label.form-label(for='plantId') Plant ID
                            input#plantId.form-control(type='text', aria-describedby='plantName', placeholder='Plant Name')
                        .mb-3
                            label.form-label(for='plantInput') Plant Name
                            input#plantInput.form-control(type='text', placeholder='PlantID')
                    form#form2(method='POST', action='/nursery', enctype='multipart/form-data')
                        div
                            label name
                            input(type='text', name='picname', required='')
                        div
                            label Upload profile picture
                            input(type='file', name='profile-file', required='')
                        div
                            input(type='submit', value='Upload')
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button.btn.btn-primary(type='button', onclick="addBaby()") Save changes

    .row.row-cols-1.row-cols-md-3.g-4
        each baby of plants
            .col
                .card
                    img.card-img-top(src='/static/images/' + baby[2] + '.jpg', alt=baby[2])
                    .card-body
                        h5.card-title= baby[2]
                        .card-text
                            //.lead Last Water&nbsp
                            //    i.fa-solid.fa-droplet
                            //p= baby[3]
                        hr
                        .d-flex.flex-column
                            //button.btn.btn-outline-secondary.my-1#toDelete(data-uuid= `${baby[0]}` onclick= `removeBaby()`) Delete Plant
                            button.btn.btn-outline-secondary.my-1#toWater(data-water= `${baby[0]}` onclick= `water()`) Water! &nbsp;
                                i.fa-solid.fa-droplet
                            .dropdown
                                a.btn.btn-outline-secondary.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                                    | More
                                ul.dropdown-menu
                                    li
                                        a.dropdown-item(href='#') Move to Greenhouse &nbsp
                                            i.fa-solid.fa-house
                                    li
                                        a.dropdown-item(href='#') Move to Graveyard &nbsp
                                            i.fa-solid.fa-plant-wilt
                                    li
                                        a.dropdown-item#toDelete(href='#' data-uuid= `${baby[0]}` onclick= `removeBaby()`) Delete Plant &nbsp
                                            .fa-solid.fa-circle-xmark
